<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tencent.wxcloudrun.dao.MyMapper">
<!--    <insert id="insert">-->
<!--        insert into my () values ()-->
<!--    </insert>-->
<!--    <update id="update">-->
<!--        update my set where-->
<!--    </update>-->

<!--    <select id="get" resultType="com.tencent.wxcloudrun.model.My" parameterType="java.lang.Integer">-->
<!--        SELECT *-->
<!--        FROM my-->
<!--        WHERE id = #{id}-->
<!--    </select>-->
<!--    <select id="list" resultType="com.tencent.wxcloudrun.model.My">-->
<!--        SELECT *-->
<!--        FROM my-->
<!--        <where>-->
<!--            <if test="title != null and title != ''">-->
<!--                my.title like concat('%',#{title},'%')-->
<!--            </if>-->
<!--        </where>-->
<!--    </select>-->


<!--    <delete id="del" parameterType="java.lang.Integer">-->
<!--        DELETE-->
<!--        FROM my-->
<!--        where id = #{id}-->
<!--    </delete>-->


</mapper>
